<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuizApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8474B3EC1DCE6EEA009A4B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8474B4001DCE6EEB009A4B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8474B40B1DCE6EEB009A4B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
